

html, body{    
    color: white;    
    font-family: Helvetica, Arial,  sans-serif;    
}

.my-card {   
    margin-top: 1rem;
    box-shadow: 5px 5px 10px 1px #000;
    margin-left: 1rem;
    margin-bottom: 1rem;
   }
